html {
  font-size: 62.5%;
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
#TITLE {
  text-align: center;
  background-color: rgb(248, 233, 214);
}
#SERVICE {
  background-color: rgb(248, 233, 214);
}
#USAGE {
  background-color: rgb(197, 192, 192);
}
#QUESTION {
}
/* Header Section */
.header {
  background-color: #f4a261;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 121px;
  margin: 10px 0 10px 30px;
}
.title-head {
  text-align: center;
}
.title-text {
  text-align: center;
}
.nav-title-list {
  color: black;
  font-size: 2.1rem;
  margin: auto;
  display: flex;
  text-align: center;
  list-style: none;
}
.hero-image {
  position: relative;
  width: 100%;
}
.hero-image-text{
  position: absolute;
  font-size: 20px;
  top:75%;
  left:50%;
  transform: translate3d(-50%,-50%,0);
  color: #fff;
}
.hero-image-button {
  position: absolute;
  font-size: 20px;
  top:85%;
  left:50%;
  transform: translate3d(-50%,-50%,0);
  color: #fff;
}

.m-0 {
  margin: 0;
}

.d-block {
  display: block;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Body Section */

.child-section-hero{
  padding: 30px 0 0;
}
.concept-text {
  text-align: center;
  font-size: 28px;
  padding: 40px;
}
.concept-button {
  text-align: center;
  margin: 6px;
  padding: 0 0 40px
}

.nav-item {
  margin: 50px 50px 50px 0;
}

.text-box {
  display: flex;
  justify-content: center;
}

.contents-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contents-box {
  margin-bottom: 3rem;
  padding: 3rem;
  width: 49%;
  background-color: #f4a261;
}

.contents-box img {
  display: block;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
}

.contents-box h2 {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contents-wrap {
    flex-direction: column;
  }

  .contents-box {
    width: 100%;
  }
}

.header-title {
  text-align: center;
}

/* review */
body{margin-top:20px;}

.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 700 !important;
}

/* Price Section */
body{margin-top:20px;}
.block-7 {
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
@media (max-width: 991.98px) {
    .block-7 {
        margin-top: 30px;
    }
}
.block-7 .img {
    height: 250px;
}
.block-7 .heading-2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.block-7 .price {
    margin: 0;
    padding: 0;
    display: block;
}
.block-7 .price sup {
    font-size: 24px;
    top: -1em;
    color: #b3b3b3;
}
.block-7 .price .number {
    font-size: 60px;
    font-weight: 600;
    color: #000000;
}
.block-7 .excerpt {
    margin-bottom: 0px;
    color: #00bd56;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.block-7 .label2 {
    text-transform: uppercase;
}
.block-7 .pricing-text,
.block-7 .pricing-text li {
    padding: 0;
    margin: 0;
}
.block-7 .pricing-text li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
}
.block-7 .pricing-text li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
}
.block-7 .pricing-text li span.fa {
    color: #207dff;
}
.block-7 .btn-primary {
    color: #fff;
    text-transform: uppercase;
    font-style: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 60%;
    margin: 0 auto;
}
.block-7 .btn-primary:hover,
.block-7 .btn-primary:focus {
    background: #00bd56 !important;
    color: #fff;
}
.block-7:hover,
.block-7:focus {
    -webkit-box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11);
}

.price-button {
  width: 300px;
  text-align: center;
  padding: 21px 0;
  margin: auto;
}

/* Footer Section */
.footer {
  padding: 30px 0;
  background-color: rgb(252, 205, 86);
}

.copylights {
  color: #fff;
  text-align: right;
}
